body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  padding: 10px;
}

label {
  width: 100px;
  display: inline-block;
}

#tag, #key, #hash {
  width: 150px;
  display: inline-block;
}

#bump, #options, #cancel, #ok {
  width: 120px;
  text-align: center;
}

.row {
  margin-bottom: 5px;
}

.btn-right {
  clear: both; 
  padding-left: 100px;
  margin-top: 10px;
}

.settings.hidden {
  display: none;
}
.loader {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  display: none;
}
form {
  /*display:none;*/
}
#hint {
	position: absolute;
	margin-left: 142px;
	display: inline-block;
	margin-top: 5px;
	color: #666;
	background-color: #eee;
	padding: 5px;
	font-size: 10px;
	width: 13px;
	text-align: right;
}

.form-group h2 {
  font-size: 16px;
}
.form-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-group li {
  padding:0;
  margin:0; 
}
.form-group label {
  width: auto;
}
.form-group.radio {
  width: 100px;
}
.form-group.radio label {
  display: inline-block;
  width: 20px;
  text-align: right
}
.form-group.radio li {
  display: inline;
  width: 50px;
  margin-right: 5px;
}
.actions input {
  width: 100px;
}
.requirements, .restrictions {
  width: 300px;
}
.col {
  float: left;
}
